<div class="column">
    <div class="callout">
        <p>Pegasi B</p>
        <p><img src="https://placehold.it/400x370&text=Pegasi B"
                alt="image of a planet called Pegasi B"></p>
        <p class="lead">Copernican Revolution caused an uproar</p>
        <p class="subheader">Find Earth-like planets life outside
            the Solar System</p>
    </div>
</div>