<div class="body"></div>
<div class="grad"></div>
<div class="header">
    <div>Trav<span>Ex</span></div>
</div>
<br>
<form class="login">
    <input type="text" id="username-input"placeholder="username" name="user"><br>
    <input type="password" id="password-input" placeholder="password" name="password"><br>
    {{!-- <input type="button" value="Login"> --}}
    <button type="submit" class="newButton">Login</button>
    <div class="footer">
        <ul class="social-network social-circle">
            <li>
                <a href="/auth/google"><i class="fa fa-google"></i></a>
            </li>

            <li>
                <a href="/auth/github"><i class="fa fa-github"></i></a>
            </li>
            <li>
                <a href="/auth/facebook"><i class="fa fa-facebook"></i></a>
            </li>
        </ul>
        <div class="center">
            {{!-- <form class="signupButton">
                <button type="submit" class="newButton signUpButton">Register New User</button>
            </form> --}}
            <a href="/signup">Register New User!</a>
        </div>
    </div>
</form>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://kit.fontawesome.com/a9f3433135.js" crossorigin="anonymous"></script>
<script src="/js/prefixfree.min.js"></script>
<script src="/js/login.js"></script>
{{!-- <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script> --}}