.background {
    width: 100%;
    background: url(../../assets/white-clouds-2114014.jpg);
    background-position: center top;
    background-size:cover;
}
/*  */
.swiper-container {
  width: 300px;
  height: 266px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  left: -60px;
  top: 150px;
}

.swiper-container-cube {
  height: 260x !important;
  width: 275px !important;
  }
.swiper-slide {
  background-position: center;
  background-size: cover;
}
/*  */
/*  */

.container-grid {
  width: 1100px;
  margin: 20px auto;
  columns: 3;
  column-gap: 5px;
}
.container-grid .box {
  width: 100%;
  margin: 0 0 20px;
  padding: 10px;
  overflow: hidden;
  break-inside: avoid;
}

.container-grid .box img {
  max-width: 100%;
  size: cover;
}

.container-grid .box h2 {
  margin: 10px 0 0;
  padding: 0;
  font-size: 20px;
}

.container-grid .box p {
  margin: 0;
  padding: 0 0 10px;
  font-size: 16px;
}

@media (max-width: 1200px){
  .container-grid {
    columns: 2;
    width: calc(100% - 40px);
    box-sizing: border-box;
    padding: 20px 20px 20px 0;
  }
}
@media (max-width: 768px){
  .container-grid {
    columns: 1;
  }
}

